<!DOCTYPE html>
<html>
<head>
	<title>Just For Fun</title>
	<link rel="stylesheet" href="/rd.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<meta charset="utf8">
	<p class="title">JOKES</p>
	<h3>Have a good time!</h3>
	<main class='content'>
	<section class = 'output'>
		<div class='text'></div>
	</section>
	<section class = 'control'>
		<div class="d-flex justify-content-center align-items-center">
			<div class="p-2"><button class="previous" type="button">Previous</button></div>
			<div class="p-2"><button class="new-joke" type="button">New joke</button></div>
			<div class="p-2"><a class="tweet" target="_blank">Tweet</a></div>
		</div>
	</section>
	</main>
</body>
<script src= "rd.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>