<!DOCTYPE html>
<html>
<head>
	<title>Just For Fun</title>
	<!-- <link rel = 'stylesheet' type = 'text/css' href = 'rd.css'> -->
	<link rel="stylesheet" href="/rd.css">
</head>
<body>
	<meta charset="utf8">
	<h1>JOKES</h1>
	<h2>Have a good time!</h2>
	<main class='content'>
	<section class = 'output'>
		<div class='text'></div>
	</section>
	<section class = 'control'>
		<ul class='joke_menu'>
			<li><button type='button' class='previous'>Previous</button></li>
			<li><button type='button' class='new-joke'>New joke</button></li>
			<li><a class= 'tweet' type= 'button' target='_blank'>Tweet</a></li>
		</ul>
	</section>
	</main>
</body>
<script src= "rd.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>