
body{
	font-family: sans-serif;
	background-size: 1400px 700px;
	background-color: #189ce970;
}

h1{
	padding-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 60px;
	color: #e41111;
}

h2{
	text-align: center;
	padding-top: 0px;
	color:  #4897c5;
}

.output{
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
	min-height: 200px;
	border: hidden;
	border-top: 5px dashed white;
}

.text{
	padding: 30px 40px;
	padding-bottom: 10px;
	left: 25%;
	text-align: justify;
	color: black;
	font-weight: bold;
}

.control{
	width: 50%;
	padding-bottom: 10px;
	border: hidden;
	margin-left: 25%
}

ul.joke_menu{
	list-style-type: none;
	text-align: center;
	border-bottom: 5px dashed white;
}

li{
	display: inline;
}

.previous,.new-joke,.tweet{
	width: 20%;
	border: 1px groove black;
	border-radius: 8px;
	text-decoration: none;
	margin: 20px 20px;
	padding: 10px;
	font-family: sans-serif;
	color: #e41111;
	font-weight: bold;
	font-size: 18px;
	background-color: white;
}

button.previous:hover, button.new-joke:hover, a.tweet:hover{
	background-color: #ffff99;
	color: #ff0000;
}