
body{
	font-family: sans-serif;
	background-size: cover;
	background-image: url('bg.png');
}

.title{
	padding-top: 70px;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: #e41111;
	margin-bottom: 8px;
}

h3{
	text-align: center;
	color:  #4897c5;
}

.output{
	min-height: 300px;
	border: hidden;
}

.text{
	padding: 30px 40px 10px;
	text-align: justify;
	color: black;
	font-weight: bold;
}

.control{
	padding-bottom: 10px;
	border: hidden;
	/* height: 30px; */
}

li{
	display: inline;
}
.p-2{
	width: 200px;
	color: #e41111;
}

.previous,.new-joke, .tweet{
	border: 1px solid black;
	border-radius: 8px;
	font-family: sans-serif;
	color: #e41111;
	font-weight: bold;
	font-size: 18px;
	background-color: white;
}
.previous, .new-joke{
	padding: 10px;
}
a{
	text-decoration: none;
	padding: 12px;
}

button.previous:hover, button.new-joke:hover, .tweet:hover{
	background-color: #ffff99;
	color: #ff0000;
	text-decoration: none;
}
.content{
	margin: 30px 300px;
	text-align: center;
}